
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-peoplefill:before { content: "\e735"; }
.icon-commandfill:before { content: "\e73e"; }
.icon-tagfill:before { content: "\e751"; }
.icon-picfill:before { content: "\e72c"; }
.icon-clothesfill:before { content: "\e716"; }
.icon-timefill:before { content: "\e65e"; }
.icon-appreciatefill:before { content: "\e6e3"; }
.icon-repairfill:before { content: "\e73a"; }
.icon-writefill:before { content: "\e760"; }
.icon-write:before { content: "\e761"; }
.icon-homefill:before { content: "\e6bb"; }
.icon-home:before { content: "\e6b8"; }
.icon-people:before { content: "\e736"; }
.icon-repair:before { content: "\e738"; }
