 /*登录*/
.page.page-login { background: #035c89 !important; font-size: 14px; }
.login-brand { height: 50%; background: url(../images/bg_login_brand.png) center bottom no-repeat #fff; background-size: 100%; text-align: center; position: relative; }
.brand-logo { position: absolute; width: 7rem; height: 7rem; background: url(../images/eagle_eye_logo.png) center center no-repeat #fff; top: 50%; left: 50%; margin-top: -3.5rem; margin-left: -3.5rem; background-size: 100%; }
.login-form { color: #fff; }
.login-form a:link, .login-form a:visited { color: #fff; }
.login-form .list-block { padding: 0 2rem; }
.login-form .list-block .item-inner { padding: 0; min-height: 1rem; }
.login-form .list-block ul { background: none; }
.login-form .list-block ul:before, .login-form .list-block ul:after { height: 0; }
.login-form .list-block .item-content { padding: 0; }
.login-form .list-block .item-title.label { width: 30px; color: #fff; }
.login-form .list-block .item-title.label .iconfont { font-size: 22px; }
.form-actions { font-size: 14px; padding: 1rem 0 2.5rem; }
.login-form ::-moz-placeholder { color: #fff;}
.login-form ::-webkit-input-placeholder { color: #fff;}
.login-form ::-ms-input-placeholder { color: #fff; }
.login-form input { color: #fff !important; padding: 0 !important; }
.btn-login { background: #fff !important; color: #266995 !important; padding: 0; height: 35px; line-height: 35px !important; }
.item-input{ position: relative;}
.password-placeholder{ position: absolute; top: 12px; left:0;}
.btn-login:active{ color: #fff; background: #2fa5e1;}

/* 首页 */
.home-menu .row{ margin-left: 0;}
.topbar{ background: #222325;}
.topbar h1.title{ color: #fff;}
.topbar:after{ height: 0 !important;}
.slider{ padding: 0;}
.swiper-slide img{ width: 100%;}
.swiper-slide .desc{ width: 100%; position: absolute; bottom:0; height: 40px; line-height: 40px; color: #fff; font-size: 18px; background: rgba(0,0,0,.5); padding: 0 .7rem;}
.slider .swiper-pagination{ position: absolute; bottom: .3rem; right: .5rem; left: auto; width: auto;}
.slider .swiper-pagination-bullet{ background: #fdcf00; width: .7rem; height: .7rem; opacity: 1;}
.slider .swiper-pagination-bullet-active{ background: #fff;}
.bar-notice{ background: #fff; height: 2.2rem; padding: .3rem .7rem; font-size: 18px;}
.bar-notice .iconfont{ font-size: 22px;}
.menu-item{ background: #2fa5e1; width: 100%; height: 6rem; color: #fff; display: block; text-align: center; padding-top: .9rem;}
.menu-item:active{ background: #2386b9; color: #fff;}
.menu-item .iconfont{ font-size: 1.8rem;}
.menu-item span{ display: block;}
@media only screen and (max-width: 320px) {
  .menu-item {height: 5rem;padding-top: .7rem;}
  .menu-item .iconfont{ font-size: 1.5rem;}
}
.home-menu .row .col-33{ width: 33.33333%; margin-left: 0;}
.home-menu .row:nth-of-type(1) .menu-item{ border-bottom: 1px solid #41ace2;}
.home-menu .row .menu-item:nth-of-type(-n+2){ border-right: 1px solid #41ace2;}

/* 审计 */
.topbar.bar .icon{ color: #fff; font-size: 1.1rem; line-height: 1.1rem; padding: .4rem .1rem;}
.s-bar{ height: 4rem; padding: 0; z-index: 20;}
.s-bar .icon{font-size: 1.4rem; padding: .9rem 0 .3rem;}
.s-bar ul{ list-style: none; padding: 0; margin: 0;}
.s-bar li{ width: 25%; float: left; background: #2fa5e1;}
.s-bar li a{ display: block;  height: 4rem; width: 100%; color: #fff; text-align: center;}
.s-bar li.active a,
.s-bar li a:active{ background: #2386b9; color: #fff;}
.s-bar li a span{ display: block; font-size: 16px;}
.n-list-wrap{ margin-bottom: 0;}
.list-block.n-list-wrap .item-inner:after{ background-color: #dadada;}
.list-block.n-list-wrap .item-inner{ padding-top: .6rem; padding-bottom: .6rem;}
.n-list{ font-size: 16px;}
.n-list .item-title{ line-height: 1.3;}
.n-list li span{ font-size: 14px; color: #949494;}
.n-list li a{ color: #222325;}

/* 审计详细 */
.topbar.bar .icon{ color: #fff; font-size: 1.1rem; line-height: 1.1rem; padding: .4rem .1rem;}
.aduit-head{ background: #fff; height: 2rem; border-bottom: 1px solid #dadada; line-height: 2rem; padding: 0 1rem;}
.aduit-form{ padding: .2rem .7rem 1rem;}
.aduit-form .form-group{ padding: .3rem 0;}
.aduit-form input{ width: 90%; border: 1px solid #dadada; border-radius: 5px; height: 35px; line-height: 35px; padding: 0 5px; font-size: 14px;}
.aduit-form .input-p-date,
.aduit-form .input-position{ width: 77%;}
.aduit-form .icon-more{ color: #c8c8c8; font-size: 22px; font-weight: bold;}
.button.button-fill.btn-aduit{ background: #2fa5e1; height: 45px; line-height: 45px; font-size: 18px; margin-top: 10px;}
.button.button-fill.btn-aduit:active{ background: #289ad4; color: #fff;}
.p-icon-wrap{ display: inline-block; background: #c8c8c8; border-radius: 5px; width: 35px; height: 35px; text-align: center; margin-right: 10px;}
.p-icon-wrap.active{ background: #2fa5e1;}
.p-icon-wrap .iconfont{ color: #fff; font-size: 16px; line-height: 35px;}
.t-done{ line-height: 2.2rem; color: #fff;}
.c-bar{ background: #2fa5e1;}
.c-bar .title{ color: #fff; font-size: 18px;}
.c-bar .iconfont{ font-size: 22px;}
.c-bar .export{ color: #fff; line-height: 2.2rem;}
@media only screen and (max-width: 320px){
	.aduit-form .input-p-date,
	.aduit-form .input-position{ width: 73%;}
}


/* 审计 */
.s-bar-audit{ height: 2.2rem; color: #fff; text-align: center; line-height: 2.2rem; background: #2fa5e1; font-size: 18px;}
.audit-title{ border-bottom: 1px solid #dadada; height: 2rem; line-height: 2rem; background: #fff; padding: 0 .5rem; font-weight: bold;}
.audit-title .iconfont{ color: #dadada; font-size: 1.2rem; font-weight: normal;}
.audit-section{}
.audit-section p{ margin: 0 0 .5rem;}
.audit-section ul{ padding: .5rem .5rem 0; margin: 0; list-style: none;}
.audit-section li{ padding-bottom: 1rem;}
.audit-section .button.button-fill{ height: 1.8rem; line-height: 1.8rem; background: #868686; font-size: 16px;}
.audit-section .btn-yes.active{ background: #73e012;}
.audit-section .btn-no.active{ background: #dc1111;}
.audit-section .btn-na.active{ background: #2fa5e1;}
.upload-img{ margin-top: 15px; display: none; position: relative;}
.upload-img .p-icon-wrap{ margin-right: 0;}
.upload-img .p-icon-wrap .iconfont{ font-size: 20px;}
.upload-img .file-input{ padding: 0 5px; width: 100%;  height: 35px; line-height: 35px; border: 1px solid #dadada; border-radius: 5px;}
.upload-img .file{ position: absolute; top: 0; left: 0; right: 0; height: 3.8rem; background: #fff; width: 100%; opacity: 0; z-index: 10;}
.add-pic{ width: 100%; border: 1px solid #dadada; background: #fff; text-align: center; color: #ddd; height: 3.8rem; line-height: 3.8rem;}
.add-pic .iconfont{ font-size: 30px !important;}
.row.pic-row{ margin-top: 8px;}
.row.pic-row .col-25{ position: relative;}
.row.pic-row .col-25 .del-pic{ display: none; color: #aaa; position: absolute; top: 1px; right: 1px; width: 22px; height: 22px; background: #eee; text-align: center; line-height: 22px; z-index: 20;}

@media only screen and (max-width: 320px){
	.add-pic{height: 3.2rem; line-height: 3.2rem;}
	.upload-img .file{ height: 3.2rem;}
}
